<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS examples</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <h1>Declarative Rendering example</h1>
        <p>{{ message }}</p>
    </div>

    <div id="app-2">
        <h1>Text interpolation example</h1>
        <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
    </div>

    <div id="app-3">
        <h1>Conditionals example</h1>
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
        <h1>Loops example</h1>
        <ol>
            <li v-for="todo in todos">
            {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <h1>User input example</h1>
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">
        Reverse message
        </button>
    </div>

    <div id="app-6">
        <h1>Model example</h1>
        <p>{{ message }}</p>
        <input type="text" v-model="message">
    </div>
    
    <h1>Component example</h1>
    <div id="app-7">
        <todo-item inline-template 
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id">
            <li>{{ todo.text }}</li>
        </todo-item>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="script.js"></script>
</html>